<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <div class="main">
      <div class="ui inverted menu">
        <a class="active teal item">Red</a>
        <a class="teal item">Orange</a>
        <a class="teal item">Yellow</a>
        <a class="teal item">Olive</a>
        <div class="right menu">
          <a class="teal item">Green</a>
          <a class="teal item">Teal</a>
        </div>
      </div>