<% include partials/header %>

<div class="ui grid">
  
  <% products.forEach((product) => { %>
    <div class="four wide column">
    <div class="ui card">
      <div class="image">
        <img src="<%= product.image %>">
      </div>
      <div class="content">
        <a class="header"><%= product.title %></a>
        <!-- <div class="meta">
          <span class="date">Joined in 2013</span>
        </div> -->
        <div class="description">
          <%= product.description %>
        </div>
      </div>
      <div class="extra content">
        <h3>$<%= product.price %></h3>
        <button class="ui green button">Add to cart</button>
      </div>
    </div>
    </div>
  <% }); %>
  
</div>

<% include partials/footer %>